<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jetbrains.androidApp">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jetbrains.kmm.androidApp.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jetbrains.kmm.androidApp.main.MainActivity"/>
        <activity android:name="com.jetbrains.kmm.androidApp.register.RegisterActivity"/>
        <activity android:name="com.jetbrains.kmm.androidApp.profile.ProfileActivity"/>
        <activity android:name="com.jetbrains.kmm.androidApp.project.ProjectActivity"/>
        <activity android:name="com.jetbrains.kmm.androidApp.addProject.AddProjectActivity"/>

    </application>

</manifest>